ESP32/SECRETS.h
ESP32/clion_proj/.idea/
ESP32/clion_proj/cmake-build-debug/
ESP32/arduino_proj/SECRETS.h
ESP32/arduino_proj/arduino_proj.ino
ESP32/arduino_proj/BarcodeScanner.h
ESP32/arduino_proj/IdChecker.h
ESP32/arduino_proj/Interfaces.h
ESP32/arduino_proj/LedIndicator.h
ESP32/arduino_proj/MagneticReader.h
ESP32/arduino_proj/parameters.h
ESP32/arduino_proj/Printer.h
ESP32/clion_proj/secrets.h
ESP32/arduino_proj/User.h
ESP32/clion_proj/last_move_times.json
ESP32/arduino_proj/FirebaseDB.h
ESP32/arduino_proj/IAsyncResult.h
ESP32/arduino_proj/WifiConnection.h
ESP32/arduino_proj/
ESP32/python_mock/iot_python_mock/.idea/
ESP32/python_mock/iot_python_mock/secret.py
ESP32/python_mock/iot_python_mock/__pycache__/
ESP32/python_mock/.idea/
ESP32/python_mock/secret.py
ESP32/python_mock/__pycache__/
